.container {
  font-size: 25px;
}
header {
  text-align: center;
  background: #fff;
  padding-bottom: 10px;
  border-bottom: 10px solid #f1f0ec;
}
header h1 {
  padding-bottom: 0.5em;
  font-size: 3em;
  color: #555;
}
header p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  color: #777;
}
main {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 10px solid #f1f0ec;
  background: #fff;
}
main .main-inner {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
main main section h1 {
  font-size: 40px;
  color: #555;
  font-weight: normal;
}
main section ul {
  font-size: 20px;
  color: #777;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
}
main section ul li {
  margin-bottom: 10px;
}
main section p {
  font-size: 26px;
  color: #777;
}
main .note {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 10px;
  color: #aaa;
}
.predict {
  background-color: #fff;
}
.predict p {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 17px;
  font-style: normal;
  color: #111;
  padding-top: 30px;
  padding-bottom: 30px;
}
.predict a {
  display: block;
  width: 80%;
  line-height: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: #19c5d3;
  text-align: center;
  font-size: 40px;
  color: #fff;
}
