/*
预测参数输入页面的样式
*/
header {
  text-align: center;
  padding-bottom: 10px;
}
header img {
  width: 50%;
}
main table {
  width: 80%;
}
main table caption {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
main table td {
  padding-left: 30px!important;
}
main table input {
  max-width: 100px;
}
footer {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
