header {
  text-align: center;
  background: #fff;
  padding-bottom: 10px;
  border-bottom: 5px solid #eee;
  p {
    padding-top: 10px;
    padding-bottom: 10px;
    // font-size: 15px;
    color: #777;
  }
  h1 {
    // padding-bottom: 0.5em;
    // font-size: 3em;
    margin-top: 10px;
    color: #555;
  }
}
section {
  // padding-left: 30px;
  // padding-right: 30px;
  // padding-top: 20px;
  // padding-bottom: 20px;
  border-bottom: 5px solid #eee;
  h1 {
    font-size: 25px;
    color: #555;
    font-weight: normal;
    // padding-top: 10px;
    // padding-bottom: 10px;

    padding-left: 10px;
  }
  ul {
    // font-size: 20px;
    // color: #777;
    // margin-top: 20px;
    // margin-bottom: 20px;
    // padding-left: 20px;
    li {
      // margin-bottom: 10px;
    }
  }
  .note {
    // padding-top: 12px;
    // padding-bottom: 12px;
    // font-size: 20px;
    color: #777;
    text-align: center;
  }
}
footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  p {
    text-align: center;
  }
}
// .predict {
//   background-color: #fff;
// }
// .predict p {
//   padding-left: 25px;
//   padding-right: 25px;
//   // font-size: 17px;
//   font-style: normal;
//   color: #111;
//   padding-top: 30px;
//   padding-bottom: 30px;
// }
// .predict a {
//   display: block;
//   width: 80%;
//   line-height: 100px;
//   margin-left: auto;
//   margin-right: auto;
//   border-radius: 4px;
//   background-color: #19c5d3;
//   text-align: center;
//   font-size: 40px;
//   color: #fff;
// }
