/*
预测参数输入页面的样式
*/
header {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 50px;
  img {
    width: 50%;
  }
}

main {
  padding-top: 20px;
  padding-bottom: 50px;
  form {
    table {
      width: 80%;
      caption {
        font-size: 40px;
        padding-bottom: 20px;
      }
      input {
        height: 45px;
        border-radius: 5px;
        font-size: 34px;
        max-width: 150px;
      }
    }
    // button,
    // .button {
    //   display: block;
    //   width: 200px;
    //   line-height: 100px;
    //   border: none;
    //   border-radius: 5px;
    //   background: #eee;
    //   font-size: 30px;
    //   text-align: center;
    //   margin-top: 40px;
    //   margin-left: auto;
    //   margin-right: auto;
    // }
  }
}

footer {
  padding-top: 20px;
  text-align: center;
}
